body {
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
    border-color: rgb(155, 155, 155);
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    min-height: 80vh;

}

/* Navigation tabs and buttons */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.left-buttons {
    display: flex;
    gap: 1rem;
}

#mint_shortcut {
    margin-left: 20px;
}

#navigation button,
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    border-width: 1px;
    background: none;
    transition: background 0.2s, color 0.2s;
    border-color: rgb(200, 200, 200)
}

#navigation button:hover,
.button:hover {
    background: rgba(50, 170, 255);
    color: white;
}

#navigation button.active,
.button:active {
    background: rgba(30, 144, 255);
    color: white;
}


/* Visibility of views (exactly one should show at all times), default */
#views>div {
    display: none;
}

/*   mint_view    show_view    profile_view   */
#views>#mint_view {
    display: block;
}

/* Specific views */
#mint_view>form>input {
    margin-left: 10px;
    padding: 3px;
}

.unfinished {
    color: red;
}

#mint_done_button {
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 1px;
    background: rgba(30, 144, 255);
    color: white;
    border-color: rgb(200, 200, 200)
}

/* Mint coupon page */
#both_calendars {
    margin-left: 10vw;
}

#date_text_format {
    margin-left: 40px;
    display: flex;
    gap: 120px;
}

#date_calendar_format {

    display: flex;
    gap: 40px;
}

#count_input {
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

#text_description {
    width: 300px;
    height: 140px;
}


.form_kid {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.multi-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

    border: 1px solid #ccc;
    padding: 6px;
    min-width: 320px;
    max-width: 500px;
}

#redeemer_list {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.multi-input input {
    border: none;
    outline: none;
    min-width: 160px;
    flex: 1;
}

.multi-input button {
    border: 1px solid #ccc;
    background: #f5f5f5;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.multi-input button:hover {
    background: #e0e0e0;
}

.not_any_issued_coupon_div {
    margin: 20px 0px 0px 20px;
    color: rgb(120, 120, 120);
    font-size: 20px;
}

/* Show coupon page */

.display_coupon_div {
    border-color: rgb(155, 155, 155);
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    min-height: 80px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
}

.line_in_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;

}

.line_in_wrapper>span {
    margin-top: 6px;
    margin-left: 6px;
    flex: 1;
}

.line_in_wrapper.counts>span {
    flex: 1;
}

.button {
    margin-left: auto;
    margin-right: 12px;
    margin-bottom: 3px;
}

/* Profile page */
#profile_view>div {
    display: flex;
    margin-bottom: 20px;
}

#profile_view>div span:first-child {
    width: 20%;
    min-width: 240px;
    font-weight: bold;
}

#profile_view>div span:last-child {
    flex: 1;
}